<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
 <div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-clock-o fa-fw"></i> Time Range
    </div>
    <div class="panel-body">
        <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-clock-o fa-fw"></i></span>
         <input id="dateinput" name="daterange" class="form-control"/>
        </div>
        
    </div>
</div>
